<div>
<h1>Does your country have equal pay?</h1>
<p>The <b>gender pay gap</b> is the difference between the gross hourly earnings between
working men and working women.
In the European Union, women earn around 16% less than men per hour. The situation is improving, but progress is still very slow.</p>
<p>Do you know the gender pay gap in your country? Take the survey to find out.</p>
<p><a href="/">Click here</a> to see more information on gender equality.</p>
<button class="btn btn-outline-secondary"><a href="/survey" id="btn-start">Start Survey</a></button>
</div>
