<div>
<h1>Does your country have equal pay?</h1>
<p>The <b>gender pay gap</b> is the difference between the gross hourly earnings between
working men and working women.</p>
<p>In the European Union, women earn around 16% less than men per hour. The situation is improving, but progress is still very slow, despite the efforts of advocates around the world.</p>
<h4>Let's make gender equality a priority.</h4>
<p>With this quick survey, you will help us understand how the gender gap is perceived in different countries, and create insights on how to drive real change.</p>
<p>If you want to see more information on gender equality, <a href="/info">click here</a>.</p>
<button class="btn btn-outline-secondary"><a href="/survey" id="btn-start">Start Survey</a></button>
</div>
