<h5 style="font-weight:400">You think the gender pay gap in {{formResult.Country}} is: <b>xx%</b></h5>
<br>
<h5 style="font-weight:400">The real gender gap in {{formResult.Country}} is: <b>xx%</b></h5>
<h5 style="font-weight:400">And in the European Union is: <b>xx%</b></h5>
<br>
<h5 style="font-weight:400">How do you feel about the gender pay gap in your country?</h5>
<form id="smileys">
  <div>
		<input type="radio" name="smiley" value="very sad" class="verysad">
		<input type="radio" name="smiley" value="kind of sad" class="sad">
		<input type="radio" name="smiley" value="neutral" class="neutral"  checked="checked">
		<input type="radio" name="smiley" value="kind of happy" class="happy">
		<input type="radio" name="smiley" value="very happy" class="veryhappy">
		<br>
		<div><p>I feel <span id="result">neutral</span> about it.</p></div>
		<br>
  	<button class="btn btn-outline-secondary">Submit</button>
  </div>
</form>

<script>const INPUTS = document.querySelectorAll('#smileys input');

function updateValue(e) {
	document.querySelector('#result').innerHTML = e.target.value;
}

INPUTS.forEach(el => el.addEventListener('click', (e) => updateValue(e)));</script>