<h4>You said that the Gender Gap in Portugal is: 67%</h4>
<h3>But the reality is:</h3>
<h4>Portugal:    75%</h4>
<h4>EU:    80%</h4>

<h3>for 65+:</h3>
<h4>Portugal:    75%</h4>
<h4>EU:    80%</h4>


  <form id="smileys">
    <div>
	<input type="radio" name="smiley" placeholder="Very Sad" value="1" class="verysad">
	<input type="radio" name="smiley" placeholder="Sad" value="2" class="sad">
	<input type="radio" name="smiley" placeholder="Neutral" value="3" class="neutral"  checked="checked">
	<input type="radio" name="smiley" placeholder="Happy" value="4" class="happy">
	<input type="radio" name="smiley" placeholder="Very Happy" value="5" class="veryhappy">
	<div>It looks like you're feeling <span id="result">neutral</span> about it!</div>
  <button>Submit</button>
    </div>
</form>








<script>const INPUTS = document.querySelectorAll('#smileys input');

function updateValue(e) {
	document.querySelector('#result').innerHTML = e.target.placeholder;
}

INPUTS.forEach(el => el.addEventListener('click', (e) => updateValue(e)));</script>