<<<<<<< HEAD
<form  method="POST">
=======
<div class="survey">

<form action="/" method="POST">
>>>>>>> eb3a5e5e2d7b92e0aca12494ad1ac9e4558f4d72
  
 <div class="personal-details">

  <div class="single-details">
  <label for="Gender">Gender</label>
  <select name="Gender" id="Gender">
    <option value="Females">Female</option>
    <option value="Males">Male</option>
    </select>
  </div>

<div class="single-details">

  <label for="Age">Age</label>
  <select name="Age" id="Age">
    <option value="From 18 to 24">18-24</option>
    <option value="From 25 to 49">25-49</option>
    <option value="From 50 to 64">50-64</option>
    <option value="65 years or over">65+</option>
    </select>
</div>
  
  <div class="single-details">
  <label for="Country">Country</label>
  <select name="Country" id="Country">
    <option value="Belgium">Belgium</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Czechia">Czechia</option>
    <option value="Denmark">Denmark</option>
    <option value="Germany">Germany</option>
    <option value="Estonia">Estonia</option>
    <option value="Ireland">Ireland</option>
    <option value="Greece">Greece</option>
    <option value="Spain">Spain</option>
    <option value="France">France</option>
    <option value="Croatia">Croatia</option>
    <option value="Italy">Italy</option>
    <option value="Cyprus">Cyprus</option>
    <option value="Latvia">Latvia</option>
    <option value="Lithuania">Lithuania</option>
    <option value="Luxembourg">Luxembourg</option>
    <option value="Hungary">Hungary</option>
    <option value="Malta">Malta</option>
    <option value="Netherlands">Netherlands</option>
    <option value="Austria">Austria</option>
    <option value="Poland">Poland</option>
    <option value="Portugal">Portugal</option>
    <option value="Romania">Romania</option>
    <option value="Slovenia">Slovenia</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Finland">Finland</option>
    <option value="Sweden">Sweden</option>
    <option value="United Kingdom">United Kingdom</option>
    <option value="Iceland">Iceland</option>
    <option value="Norway">Norway</option>
    <option value="Switzerland">Switzerland</option>
    <option value="Montenegro">Montenegro</option>
    <option value="North Macedonia">North Macedonia</option>
    <option value="Serbia">Serbia</option>
    <option value="Turkey">Turkey</option>
  </select>
  </div>

  <label for="Age">Age</label>
  <select name="Age" id="Age">
    <option value="Less than 18 years">Less than 18</option>
    <option value="From 18 to 24 years">From 18 to 24 years</option>
    <option value="From 25 to 49 years">From 25 to 49 years</option>
    <option value="From 50 to 64 years">From 50 to 64 years</option>
    <option value="65 years or over">65 years or over</option>
    </select>

  <label for="Wage">Annual Income</label>
    <input type="number" name="Wage" id="Wage" placeholder="23000"/>

  <label for="Sector">Sector</label>
   <select name="Sector" id="Sector">
    <option value="Agriculture, Forestry, Fishing & Hunting">Agriculture, Forestry, Fishing & Hunting</option>
    <option value="Mining, Quarrying, & Oil & Gas Extraction">Mining, Quarrying, & Oil & Gas Extraction</option>
    <option value="Utilities">Utilities</option>
    <option value="Construction">Construction</option>
    <option value="Manufacturing">Manufacturing</option>
    <option value="Wholesale">Wholesale</option>
    <option value="Retail">Retail</option>
    <option value="Transportation & Warehousing">Transportation & Warehousing</option>
    <option value="Information">Information</option>
    <option value="Finance & Insurance">Finance & Insurance</option>
    <option value="Real Estate & Rental & Leasing">Real Estate & Rental & Leasing</option>
    <option value="Professional, Scientific & Technical Services">Professional, Scientific & Technical Services</option>
    <option value="Management of Companies & Enterprises">Management of Companies & Enterprises</option>
    <option value="Administrative, Support & Waste & Remediation">Administrative, Support & Waste & Remediation</option>
    <option value="Educational Services">Educational Services</option>
    <option value="Health Care & Social Assistance">Health Care & Social Assistance</option>
    <option value="Arts, Entertainment & Recreation">Arts, Entertainment & Recreation</option>
    <option value="Accommodation & Food Services">Accommodation & Food Services</option>
    <option value="Other Sector">Other Sector</option>
  </select>

  <label for="Wage">Anual Income</label>
    <input type="number" name="Wage" id="Wage" placeholder="23000"/>

  <label for="Managerial">Managerial Roles</label>
    <select name="managerial" id="managerial">
      <option value="0">Don't manage a team</option>
      <option value="1">Manage a team between 1 to 5 people</option>
      <option value="6">Manage a team between 6 to 10 people</option>
      <option value="10">Manage more then 10 people</option>
    </select>

  <label for="Education">Education</label>
    <select name="Education" id="Education">
      <option value="High school or less">High school or less</option>
      <option value="Bachelor's degree">Bachelor's degree</option>
      <option value="Master's degree">Master's degree</option>
      <option value="Doctorate Degree">Doctorate Degree</option>
      <option value="Other">Other</option>
    </select>

  <label for="Managerial">Managerial Role</label>
    <select name="Managerial" id="Managerial">
      <option value="I don't manage a team">I don't manage a team</option>
      <option value="I manage a team with 1 to 5 people">I manage a team with 1 to 5 people</option>
      <option value="I manage a team with 6 to 10 people">I manage a team with 6 to 10 people</option>
      <option value="I manage a team with more than 10 people">I manage a team with more than 10 people</option>
    </select>

   <label for="Perception">Perception</label>
    <div class="slidecontainer">
      <p>Custom range slider:</p>
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>
<button>Submit</button>
</form>

</div>

