<form action="/" method="POST">
  

  <label for="Gender">Gender</label>
  <select name="Gender" id="Gender">
    <option value="Females">Female</option>
    <option value="Males">Male</option>
    </select>

  <label for="Country">Country</label>
  <select name="Country" id="Country">
    <option value="Belgium">Belgium</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Czechia">Czechia</option>
    <option value="Denmark">Denmark</option>
    <option value="Germany">Germany</option>
    <option value="Estonia">Estonia</option>
    <option value="Ireland">Ireland</option>
    <option value="Greece">Greece</option>
    <option value="Spain">Spain</option>
    <option value="France">France</option>
    <option value="Croatia">Croatia</option>
    <option value="Italy">Italy</option>
    <option value="Cyprus">Cyprus</option>
    <option value="Latvia">Latvia</option>
    <option value="Lithuania">Lithuania</option>
    <option value="Luxembourg">Luxembourg</option>
    <option value="Hungary">Hungary</option>
    <option value="Malta">Malta</option>
    <option value="Netherlands">Netherlands</option>
    <option value="Austria">Austria</option>
    <option value="Poland">Poland</option>
    <option value="Portugal">Portugal</option>
    <option value="Romania">Romania</option>
    <option value="Slovenia">Slovenia</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Finland">Finland</option>
    <option value="Sweden">Sweden</option>
    <option value="United Kingdom">United Kingdom</option>
    <option value="Iceland">Iceland</option>
    <option value="Norway">Norway</option>
    <option value="Switzerland">Switzerland</option>
    <option value="Montenegro">Montenegro</option>
    <option value="North Macedonia">North Macedonia</option>
    <option value="Serbia">Serbia</option>
    <option value="Turkey">Turkey</option>
  </select>

  <label for="Age Group">Age</label>
  <select name="age" id="Age Group">
    <option value="From 18 to 24">18-24</option>
    <option value="From 25 to 49">25-49</option>
    <option value="From 50 to 64">50-64</option>
    <option value="65 years or over">65+</option>
    </select>

  <label for="Yearly Wage(EUR)">Anual Income</label>
    <input type="number" name="Yearly Wage(EUR)" id="Yearly Wage(EUR)" placeholder="23000"/>


<button>Submit</button>
</form>




