//principal pink: #F8BBD0
//little bit dark pink: #F48FB1

$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$grey: hsla(0, 0, 75%, 0.5);

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  padding: 0 1em;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: $font-sans;
  line-height: 2;
  max-width: 40em;
}

#btn-start {
  text-decoration: none !important;
  &:hover {
    color: white;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  a,
  button {
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

h1 {
  font-size: 1.8em;
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
button,
.btn {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  margin-bottom: 1em;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

//slider perception

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

//rating system
form {
  &#smileys {
    display: flex;
    input[type='radio'] {
      -webkit-appearance: none;
      width: 50px;
      height: 50px;
      border: none;
      cursor: pointer;
      transition: border 0.2s ease;
      filter: grayscale(100%);
      margin: 0 5px;
      transition: all 0.2s ease;

      &:hover,
      &:checked {
        filter: grayscale(0);
      }

      &:focus {
        outline: 0;
      }
      &.veryhappy {
        background: url('../images/veryhappy.svg') center;
        background-size: cover;
      }
      &.happy {
        background: url('../images/happy.svg') center;
        background-size: cover;
      }

      &.neutral {
        background: url('../images/neutral.svg') center;
        background-size: cover;
      }
      &.sad {
        background: url('../images/sad.svg') center;
        background-size: cover;
      }
      &.verysad {
        background: url('../images/verysad.svg') center;
        background-size: cover;
      }
    }
  }
}

.mtt {
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: #999;
  text-decoration: none;

  span {
    color: #e74c3c;
  }

  &:hover {
    color: red;

    span {
      color: #c0392b;
    }
  }
}

// custom scroll bar

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8bbd0;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f48fb1;
}
